@CHARSET "ISO-8859-1";



.labelWidth {
    width: 250px !important;
}

.lightbox-content-wrapper .readonly-text {
    overflow: hidden;
    word-wrap: break-word;
}
.readonly-text {
    color: #798085;
}

.detailFont {
    font-size: 14px !important;
}

.lightbox-content-wrapper label, .lightbox-content-wrapper .label {
    display: inline;
    float: left;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-align: right;
    width: 160px;
}
#studyDetailsDiv .readonly-text {
	text-align:left;
}

#studyDetailsDiv .form-output {
	clear:both;
}
