/*----------------------------------------------------------
  GSDR Styles    
------------------------------------------------------------*/
   
/***      
   
 * ===>>  CONFIG   <<=======================================================================  
   
 * Color Variables */ 
 
/* Grays */  
$lightest: #fff;
$disabled-gray: #adadad; 
$lightest-gray: #ececec;       
$lighter-gray: #d6d6d6; 
$light-gray: #A8A8A8;  
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;
 
/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/
$red: #DD3434;
$link-blue: #2b2e6a;
$blue: #40539e;
$light-blue: #cce0eb;  
$light-yellow: #ffc;
$dark-orange: #a02504;
$orange: #ed9800;
$yellow-orange: #CC9900; 
$dark-green:  #004d00; 
$green: #567830;
$light-green: #678747;
$lighter-green: #ced9c0;  
$banner-color:#FF6600;
$light-turquoise: #6fc1dc; 
$turquoise: #3b6f85;
$dark-turquoise: #0a3040;


/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $turquoise; 
$header-bg: $lightest; 
$header-text: $darkest;
$table-header: $body-bg; 
$heading-primary: $turquoise;
$heading-secondary: $dark-turquoise;
$breadcrumb1: $light-blue;
$breadcrumb2: $dark-orange;
$btn-color: $dark-orange;
$btn-color2: $orange; 
$btn-color3: $lighter-green; 
$btn-close: $link-blue;
$btn-checked: $light-green;
$btn-remove: $light-green;
$footer-bg1: $dark-turquoise;
$footer-bg2: $body-bg; 
$footer-text: $lightest; 
$footer-headings: $lightest; 
$active-sub1: $orange;
$active-sub2: $dark-orange;
$active-ter: $orange;
$nav-hover2: $footer-bg2;
$nav-hover1: $footer-bg1;     

$logo : 'ninds.png';
/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */
    $border-dark: $light-gray;
    $error: $red;
    $success: $dark-green;
    $highlight: $light-yellow;
    $highlight-border: $dark-gray;
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;
    $bannerBg: $banner-color;

/***

 * ===>>  END CONFIG   <<=================================================================

***/


/* Import BRICS Styles */
 
@import "../../styles/common.scss";   
@import "../../styles/style.scss";   
@import "../../styles/cas-style.scss"; 
 

/***

 * ===>>  Instance-specific Style Overrides   <<=================================================================

***/

#logo {height: 122px; width: 600px; margin:0 10px; display:block; position:relative; background-size: 683px; top: 7px;}
#login-button {position: relative; right: 20px; top: -80px; margin: 0;}
#content-wrapper {background-repeat: repeat-x; clear: both;
    .content {border: 1px solid #ccc;}
}

#header .content {
	height: 119px;
	border-top: 3px solid #ffffff;
    background: #fff;
}

.content {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

