<div class="idt_selectAllSelector idt_selectNone">
	<div class="idt_selectAllHeader noneSelected"></div>
	<div class="idt_selectAllMenu">
		<a href="javascript:;" class="idt_selectAllItem idt_selectAll">
			Select All
		</a>
		<a href="javascript:;" class="idt_selectAllItem idt_selectFilter">
			Select Filtered
		</a>
		<a href="javascript:;" class="idt_selectAllItem idt_selectNone">
			Select None
		</a>
	</div>
</div>