/*----------------------------------------------------------
  FITBIR Styles    
------------------------------------------------------------*/

/***      
   
 * ===>>  CONFIG   <<==================================================================
  
 * Color Variables */ 
 
/* Grays */  
$lightest: #fff;  
$disabled-gray: #adadad;  
$lightest-gray: #ececec; 
$lighter-gray: #d6d6d6;
$light-gray: #A8A8A8;              
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;
$transparent: transparent;
 
/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/
$red: #DD3434;
$dark-blue: #00658c;
$link-blue:  #141f64;
$light-blue: #359AEC;
$lighter-blue: #c2deec;
$light-yellow: #ffc;
$cool-gray: #141f64;
$yellow-orange: #CC9900; 
$dark-green:  #004d00; 
$green: #567830;
$light-green: #678747; 
$lighter-green: #ced9c0;  
  
 $banner-color:#FF6600;
 
/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $link-blue; 
$header-bg: $lightest-gray; 
$header-text: $darkest;
$instanceHeaderOneBg : $transparent;
$table-header: $body-bg; 
$heading-primary: $dark-green;
$heading-secondary:  $dark-gray;
$breadcrumb1: $light-blue;
$breadcrumb2: $red;
$primary-btn-color: $dark-green;
$secondary-btn-color: $light-green;
$btn-color3: $lighter-blue;
$btn-close: $link-blue;
$btn-checked: $light-green;
$btn-remove: $light-green;
$footer-bg1: $dark-gray;
$footer-bg2: $body-bg;
$footer-text: $lightest;
$footer-headings: $lightest;
$active-sub1: $green;
$active-sub2: $dark-green;
$active-ter: $lighter-green;
$nav-hover2: $footer-bg2;
$nav-hover1: $footer-bg1;

/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */

    $border-dark: $light-gray;
    $error: $red;
    $success: $dark-green;
    $highlight: $light-yellow;
    $highlight-border: $dark-gray;
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;
    $bannerBg: $banner-color;


/***

 * ===>>  END CONFIG   <<=================================================================

***/


/* Import BRICS Styles */
 
 
@import "../../qt-header.scss";  
@import "../../qt-structure.scss";
@import "../../qt-general.scss";  
@import "../../queryTool.dataTables.scss";  




/***

 * ===>>  Instance-specific Style Overrides   <<=================================================================

***/
