/*----------------------------------------------------------
  cdRNS Styles 
------------------------------------------------------------*/

/***
 * ===>>  CONFIG   <<=======================================================================

 * Color Variables */  

/* Grays */
$lightest: #fff;
$disabled-gray: #adadad; 
$lightest-gray: #ececec;
$lighter-gray: #d6d6d6;
$light-gray: #A8A8A8;  
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;

/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/
$dark-blue: #1E2A7C;
$dark-pink: #C20072;
$red: #DD3434;
$pink: #FFDDDD;
$link-blue:  #141f64;  
$light-blue: #359AEC;
$light-yellow: #ffc;
$cool-gray: #4a545b;
$yellow-orange: #ffea8a;
$orange: #797258;
$dark-orange: #D2B684; 
$darker-orange: #9F9675;
$darkest-orange: #7b0f00;
$dark-green:  #004d00;
$green: #567830;
$light-green: #678747;
$lighter-green: #ced9c0; 
$light-tan: #cc9; 
$lightest-green: #eef9e0;

$banner-color:#FF6600;
  
/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $cool-gray;
$header-bg: $lightest; 
$header-text: $darkest;
$table-header: $body-bg;
$heading-primary: $dark-blue;
$heading-secondary:  $dark-gray;
$breadcrumb1: $light-blue; 
$breadcrumb2: $red;
$btn-color: $dark-blue;
$btn-color2: $dark-blue;
$btn-color3: $dark-blue;
$btn-close: $link-blue;
$btn-checked: $darkest-orange;
$btn-remove: $darker-orange;
$footer-bg1: $dark-gray;
$footer-bg2: $body-bg;
$footer-text: $lightest;
$footer-headings: $lightest;
$active-sub1: $dark-blue;
$active-sub2: $dark-blue;
$active-ter: $yellow-orange;
$nav-hover2: $footer-bg2;
$nav-hover1: $footer-bg1;

$nav-testing: $red;
$tooltip-border: $light-tan;
$nav-hvr: $lighter-gray;

/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */

    $border-dark: $light-gray;
    $error: $red; 
    $error-bg: $pink;    
    $highlight: $light-yellow;
    $highlight-border: $dark-gray; 
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;


/***

 * ===>>  END CONFIG   <<=================================================================

***/

 
/* Import Stylesheets */ 

@import "../../css/formalize.css";
@import "../../css/fancybox/jquery.fancybox-1.3.4.css";
@import "../../css/demo_table_jui.css";
@import "../../css/jquery.dataTables.css";
@import "../../css/ibisCommon.scss";

/* It's not only colors that change */
#logo { 
	background: url("../images/logo.png") no-repeat;
	margin: 0px;
	height: 39px;
}
#header .content {
	background: #FFFFFF;
	height: 40px;
}
#login-button {
	margin-top: 12px;
}
table.dataTable tr.odd {
	background-color: #E9E9E9;
}
table.dataTable tr.odd.row_selected {
    background-color: $active-ter;
}
#footer .content {
	/*background: url(../images/footer-tab.png) no-repeat center top;*/
	background: #FFFFFF;
	height: 0;
	max-width: 1400px;
	min-width: 960px;
	width: auto;
}
.footernav {
	padding-top: 30px;
}
.footernav li {
	float: left;
	list-style: none outside none;
}
.footernav li a {
	display: block;
	margin: 0 10px 0 0;
	font-size: 0.9em;
}
#footerContentContainer {
	margin-left: auto;
	margin-right: auto;
	width: 880px;
}
#footer p {
	clear: left;
	display: block;
	float: left;
	font-size: 0.9em;
	font-style: italic;
	margin-top: 10px;
}
#footer .branding {
	float: right;
	height: 82px;
	overflow: hidden;
	width: 273px;
	text-indent: -999px;
}
#footer .branding div {
	float: left;
	height: 100%;
}
#footer .hhs {
	background: url("../images/logo-hhs.png") no-repeat;
	width: 64px;
}
#footer .nih {
	background: url("../images/logo-nih.png") no-repeat;
	width: 88px;
}
#footer .usa {
	background: url("../images/logo-usa.png") no-repeat;
	width: 120px;
}

#primary-nav li .missingPermission {
	background: $dark-gray;
	color: $lightest-gray;
	display: block;
	font-weight: bold;
	padding: 8px 15px;
} 