<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>Query Tool API</display-name>
    <description>RESTful Query Tool API Implementation</description>
    	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>TRACE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:net/bull/javamelody/monitoring-spring-datasource.xml
			classpath*:context*.xml
			classpath*:security-cas.xml
        </param-value>
	</context-param>
    
    <!-- Filters -->
    <filter>
    	<filter-name>sessionTimeoutFilter</filter-name>
    	<filter-class>gov.nih.tbi.web.filter.SessionTimeoutFilter</filter-class>
    </filter>
    <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>javamelody</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>sessionTimeoutFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- Listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<listener>
  		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	
    <!-- Servlets -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <init-param>
      		<param-name>redirects-list</param-name>
      		<param-value>
        		 /
        		 /index.jsp
     		 </param-value>
   		</init-param>
   		<init-param>
       		<param-name>redirect-attributes</param-name>
      		<param-value>javax.servlet.include.request_uri</param-value>
   		</init-param>
   		<init-param>
       		<param-name>redirect-servlet-name</param-name>
      		<param-value>default</param-value>
   		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name> 
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
   	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
