/*----------------------------------------------------------
  BRICS Styles 
------------------------------------------------------------*/

/***
       
 * ===>>  CONFIG   <<================================================================================
          
 * Color Variables */
 
/* Grays */  
$lightest: #fff;
$disabled-gray: #adadad; 
$lightest-gray: #ececec;    
$lighter-gray: #d6d6d6; 
$light-gray: #A8A8A8;  
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;    

/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/
$red: #DD3434;
$pink: #FFDDDD;
$dark-blue: #006B91;
$link-blue:  #141f64;
$light-blue: #359AEC;
$lighter-blue: #c2deec;
$light-yellow: #ffc; 
$cool-gray: #4a545b;
$yellow-orange: #ffea8a;    
$dark-green:  #004d00; 
$green: #567830;   
$orange: #000000;
$dark-orange: #1472B9; 
$darker-orange: #000000;
$darkest-orange: #7b0f00;
$light-green: #678747;
$lighter-green: #ced9c0; 
$light-tan: #cc9; 
$lightest-green: #eef9e0; 

$banner-color:#FF6600;
  
/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $cool-gray;
$header-bg: $lightest; 
$header-text: $dark-blue;
$table-header: $body-bg;
$heading-primary: $dark-orange;
$heading-secondary:  $dark-gray;
$breadcrumb1: $light-blue; 
$breadcrumb2: $red;
$btn-color: $darker-orange;
$btn-color2: $dark-orange;
$btn-color3: $orange;
$btn-close: $link-blue;
$btn-checked: $darkest-orange;
$btn-remove: $darker-orange;
$footer-bg1: $dark-gray;
$footer-bg2: $body-bg;
$footer-text: $lightest;
$footer-headings: $lightest;
$active-sub1: $orange;
$active-sub2: $dark-orange;
$active-ter: $yellow-orange;
$nav-hover2: $footer-bg2;
$nav-hover1: $footer-bg1;
$tooltip-border: $light-tan;
$nav-hvr: $lighter-gray;
$logo : 'logo.png';

/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */

    $border-dark: $light-gray;
    $error: $red; 
    $error-bg: $pink;    
    $success: $dark-green;
    $highlight: $light-yellow;
    $highlight-border: $dark-gray;  
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;
    $bannerBg: $banner-color;


/***

 * ===>>  END CONFIG   <<==================================================================================

***/


/* Import BRICS Styles */
 

@import "../../css/formalize.css";
@import "../../css/fancybox/jquery.fancybox-1.3.4.css";
@import "../../css/demo_table_jui.css";
@import "../../css/jquery.dataTables.css";
@import "../../css/ibisCommon.scss";

/***

 * ===>>  Instance-specific Style Overrides   <<=================================================================

***/

#header {
 	border-bottom: 0;
}

#header .content {
	background-position: top right;
	width: auto !important;
	height: 120px;
	max-width: 1400px;
  	margin: 0 auto;
  	border-bottom-left-radius: 0;
  	border-bottom-right-radius: 0;
  	color: $header-text;
}

#headerTitle {
	font-size: 16px;
	line-height: 120px;
}

#logo {
	margin: 10px 20px 10px 10px;
  	background: url(../images/logo.png) no-repeat center center;
	background-color: #fff;
	height: 100px;
	width: 100px;
}

#login-button {
	margin: 52px 20px 53px 0;
	a {
    	color: $header-text;
	}
}

#footer .content {
	/*background: url(../images/footer-tab.png) no-repeat center top;*/
	background: #FFFFFF;
	height: 0;
	max-width: 1400px;
	min-width: 960px;
	width: auto;
}
.footernav {
	padding-top: 30px;
}
.footernav li {
	float: left;
	list-style: none outside none;
}
.footernav li a {
	display: block;
	margin: 0 10px 0 0;
	font-size: 12px;
	text-decoration: underline;
}
#footerContentContainer {
	margin-left: auto;
	margin-right: auto;
	width: 880px;
}

#navigation {
	width: auto !important;
}

#primary-nav li .missingPermission {
	background: $dark-gray;
	color: $lightest-gray;
	display: block;
	font-weight: bold;
	padding: 8px 15px;
} 