/*----------------------------------------------------------
 EYEGENE Styles 
------------------------------------------------------------*/
 
/***
       
 * ===>>  CONFIG   <<================================================================================

 * Color Variables */

/* Grays */  
$lightest: #fff;
$disabled-gray: #adadad; 
$lightest-gray: #ececec;    
$lighter-gray: #d6d6d6; 
$light-gray: #A8A8A8;  
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;  
$transparent:transparent;  

/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/
$red: #DD3434;
$link-blue:  #141f64;   
$light-blue: #359AEC;
$light-yellow: #ffc; 
$cool-gray: #00336f;
/* changed cool-gray from #4a545b to 00336f */
$midnight-blue: #00336f;
$yellow-orange: #ffea8a;       
$orange: #797258;
$dark-orange: #6b5732; 
$darker-orange: #4a3c23;
$darkest-orange: #7b0f00;
$light-green: #678747;
$dark-green:  #004d00; 
$endeavour: #0055B8;

$banner-color:#FF6600;
  
/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $midnight-blue;
$header-bg: $lightest; 
$header-text: $darkest;
$instanceHeaderOneBg : $transparent;
$table-header: $body-bg;
$heading-primary: $endeavour;
$heading-secondary:  $dark-gray;
$breadcrumb1: $light-blue; 
$breadcrumb2: $red;
$primary-btn-color: $midnight-blue;
$secondary-btn-color: $endeavour;
$btn-color3: $orange;
$btn-close: $link-blue;
$btn-checked: $darkest-orange;
$btn-remove: $midnight-blue;
$footer-bg1: $dark-gray;
$footer-bg2: $body-bg;
$footer-text: $lightest;
$footer-headings: $lightest;
$active-sub1: $endeavour;
$active-sub2: $endeavour;
$active-ter: $yellow-orange;
$nav-hover2: $footer-bg2;
$nav-hover1: $footer-bg1;

$nav-testing: $red;

/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */

    $border-dark: $light-gray;
    $success: $dark-green;
    $error: $red; 
    $highlight: $light-yellow;
    $highlight-border: $dark-gray;  
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;
    $bannerBg: $banner-color;


/***

 * ===>>  END CONFIG   <<==================================================================================

***/


/* Import BRICS Styles */
 
@import "../../qt-header.scss";  
@import "../../qt-structure.scss";
@import "../../qt-general.scss";  
@import "../../queryTool.dataTables.scss";  

 

/***

 * ===>>  Instance-specific Style Overrides   <<=================================================================

***/

#header .content {background-position: top right;}

#logo { width:332px; }
