<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QueryTool-all" parallel="false">
    <test name="Filter">
        <packages>
            <package name="gov.nih.tbi.filter.*" />
        </packages>
    </test>
    <test name="DataCart">
	    <classes>
	      <class name="gov.nih.tbi.util.DataCartUtilTest"/>
	      <class name="gov.nih.tbi.service.impl.DataCartManagerTest"/>
	    </classes>
    </test>
</suite>