/*----------------------------------------------------------
  CNRM Styles 
------------------------------------------------------------*/

/***  

 * ===>>  CONFIG   <<=======================================================================

 * Color Variables */

/* Grays */
$lightest: #fff;
$lightest-gray: #ececec;  
$lighter-gray: #d6d6d6;
$light-gray: #A8A8A8;
$medium-gray: #808080;
$dark-gray: #362f2d;
$darkest: #000;

/*  Main Colors (change these first, or add color names with hex values)
** THESE COLORS (+ the grays) SHOULD DEFINE ALL OTHER COLORS IN THE SITE ** 
*/  
$red: #DD3434;
$pink: #FFDDDD;
$link-blue:  #141f64;
$light-blue: #359AEC;
$light-yellow: #ffc;  
$yellow-orange: #CC9900;
$dark-green:  #004d00;
$dark-orange: #DA1C02;
$green: #567830; 
$light-green: #678747;
$light-turquoise: #6fc1dc; 
$turquoise: #3b6f85;
$dark-turquoise: #0a3040;
$light-pink: #e72a5e; 
$cnrm-pink: #b00836; 
$dark-pink: #92052c;
$light-tan: #cc9; 
$lightest-green: #eef9e0;
 
/* Semantic Color Variables (change these next - these should be defined by Main Colors) */
$body-bg: $turquoise; 
$header-bg: $lighter-gray;
$table-header: $body-bg; 
$heading-primary: $turquoise;
$heading-secondary:  $dark-gray;
$breadcrumb1: $light-blue;
$breadcrumb2: $red;
$btn-color: $cnrm-pink;
$btn-color2: $dark-gray;
$btn-color3: $light-pink;
$footer-bg1: $dark-turquoise;
$footer-bg2: $body-bg;
$active-sub1: $cnrm-pink;
$active-sub2: $dark-pink;
$active-ter: $light-turquoise;
$tooltip-border: $light-tan;
$nav-hvr: $lighter-gray;

/*****
    Other Color Variables (do NOT change these - these should always be defined by main or semantic variables) */

    $border-dark: $light-gray;
    $error: $red;
    $error-bg: $lightest;
    $highlight: $light-yellow;
    $highlight-border: $dark-gray;
    $highlight-text: $heading-secondary;
    $reverse-bg: $heading-secondary;

/***

 * ===>>  END CONFIG   <<=================================================================

***/


/* Mixins */

@mixin gradient($color1, $color2, $color3) {
  background: $color3; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 0%, $color2 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(80%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color1 0%,$color2 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $color1 0%,$color2 80%); /* IE10+ */
  background: linear-gradient(to bottom,  $color1 0%,$color2 80%); /* W3C */
}

#primary-nav li .missingPermission {
	background: $dark-gray;
	color: $lightest-gray;
	display: block;
	font-weight: bold;
	padding: 8px 15px;
}

#footerDiv #footer {
	height: 200px;
}

#footer .branding {
	float: right;
	height: 82px;
	overflow: hidden;
	width: 273px;
	text-indent: -999px;
}
#footer .branding div {
	float: left;
	height: 100%;
}
#footer .hhs {
	background: url("../images/logo-hhs.png") no-repeat;
	width: 64px;
}
#footer .nih {
	background: url("../images/logo-nih.png") no-repeat;
	width: 88px;
}
#footer .usa {
	background: url("../images/logo-usa.png") no-repeat;
	width: 120px;
}
#footerDiv .ext-link.reverse {
	background: url("../../../images/global/new_window_white.png") no-repeat scroll right center transparent;
}

/* Import Stylesheets */

@import "../../css/formalize.css";
@import "../../css/fancybox/jquery.fancybox-1.3.4.css";
@import "../../css/demo_table_jui.css";
@import "../../css/jquery.dataTables.css";
@import "../../css/ibisCommon.scss";

#footer .content {
	border-bottom: none;
	border-left: none;
	border-right: none;
}
  