<div class="dt-body">
	<div class="dt-packages-container">
		<h3>Download Packages</h3>
		<div id="dt-packages-tableContainer" class="idtTableContainer">
			<table id="dt-packages-table" class="table table-striped table-bordered"></table>
		</div>
	</div>
	<div class="dt-packageContents-container">
		<h3>Package Contents</h3>
		<div id="dt-details-tableContainer" class="idtTableContainer">
			<table id="dt-details-table" class="table table-striped table-bordered"></table>
		</div>
	</div>
	<div class="dt-downloadButton-container">
		<div class="action-button disabled">
			<a href="javascript:;" id="dt-downloadButton">Download</a>
		</div>
		<p>
			<span id="dt-totalDownloadSizeLabel">Download Size: </span><span id="dt-totalDownloadSize">0 B</span>
		</p>
		<div class="action-button">
			<a href="javascript:;" id="dt-cancelDownload" style="display:none">Cancel Download</a>
		</div>
	</div>
</div>