<div class="dt-page" id="dt-eula">
	<p>
		<b>Data Privacy</b>
		<br /> This system is a collaborative environment with privacy rules that pertain to the collection and display of imaging data. 
		Before accessing and using this systems, please ensure you familiarize yourself with our privacy rules available through the Access Request and supporting documentation.
		<br /><br /> 
		Collection of this information is authorized under 42 U.S.C. 241, 242, 248, 281(a)(b)(1)(P) and 44 U.S.C. 3101. 
		The primary use of this information is to facilitate medical research. 
		This information may be disclosed to researchers for research purposes, and to system administrators for evaluation and data normalization.
		<br /><br /> 
		Rules governing submission of this information are based on the data sharing rules defined in the Notice of Grant Award (NOGA). 
		If you do not have a grant defining data sharing requirements, data submission is voluntary. 
		Data entered into the system will be used solely for scientific and research purposes and is designed to further the understanding the disease. 
		Modification of information may be addressed by contacting your system administrator at 
		{{orgEmail}}.
		Significant system update information may be posted on the site as required.
		
		<div class="form-field clear-left">
			<div class="button">
				<input type="button" value="Accept" id="dt-eula-buttonAccept" />
			</div>
			<a class="form-link" href="javascript:;" id="dt-eula-buttonDecline">Decline</a>
		</div>
	</p> 
</div>
