@font-face {
  font-family: 'pe-icon-set-e-commerce';
  src: url("../fonts/pe-icon-set-e-commerce.eot?-d6hpag");
  src: url("../fonts/pe-icon-set-e-commerce.eot?#iefix-d6hpag") format("embedded-opentype"), url("../fonts/pe-icon-set-e-commerce.ttf?-d6hpag") format("truetype"), url("../fonts/pe-icon-set-e-commerce.woff?-d6hpag") format("woff"), url("../fonts/pe-icon-set-e-commerce.svg?-d6hpag#pe-icon-set-e-commerce") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="pe-is-ec-"], [class*=" pe-is-ec-"] {
  display: inline-block;
  font-family: 'pe-icon-set-e-commerce';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pe-is-ec-atm-1-f:before {
  content: "\e600";
}

.pe-is-ec-atm-1:before {
  content: "\e601";
}

.pe-is-ec-atm-2-f:before {
  content: "\e602";
}

.pe-is-ec-atm-2:before {
  content: "\e603";
}

.pe-is-ec-bag-1-f:before {
  content: "\e604";
}

.pe-is-ec-bag-1:before {
  content: "\e605";
}

.pe-is-ec-bag-2-f:before {
  content: "\e606";
}

.pe-is-ec-bag-2:before {
  content: "\e607";
}

.pe-is-ec-bag-3-f:before {
  content: "\e608";
}

.pe-is-ec-bag-3:before {
  content: "\e609";
}

.pe-is-ec-bag-4-f:before {
  content: "\e60a";
}

.pe-is-ec-bag-4:before {
  content: "\e60b";
}

.pe-is-ec-bag-5-f:before {
  content: "\e60c";
}

.pe-is-ec-bag-5:before {
  content: "\e60d";
}

.pe-is-ec-bag-6-f:before {
  content: "\e60e";
}

.pe-is-ec-bag-6:before {
  content: "\e60f";
}

.pe-is-ec-banck-check-f:before {
  content: "\e610";
}

.pe-is-ec-banck-check:before {
  content: "\e611";
}

.pe-is-ec-bank-f:before {
  content: "\e612";
}

.pe-is-ec-bank:before {
  content: "\e613";
}

.pe-is-ec-bar-chart-1-f:before {
  content: "\e614";
}

.pe-is-ec-bar-chart-1:before {
  content: "\e615";
}

.pe-is-ec-bar-chart-2-f:before {
  content: "\e616";
}

.pe-is-ec-bar-chart-2:before {
  content: "\e617";
}

.pe-is-ec-bar-chart-3-f:before {
  content: "\e618";
}

.pe-is-ec-bar-chart-3:before {
  content: "\e619";
}

.pe-is-ec-bar-chart-4-f:before {
  content: "\e61a";
}

.pe-is-ec-bar-chart-4:before {
  content: "\e61b";
}

.pe-is-ec-bar-chart-5-f:before {
  content: "\e61c";
}

.pe-is-ec-bar-chart-5:before {
  content: "\e61d";
}

.pe-is-ec-bar-chart-6-f:before {
  content: "\e61e";
}

.pe-is-ec-bar-chart-6:before {
  content: "\e61f";
}

.pe-is-ec-basket-1-f:before {
  content: "\e620";
}

.pe-is-ec-basket-1:before {
  content: "\e621";
}

.pe-is-ec-basket-2-f:before {
  content: "\e622";
}

.pe-is-ec-basket-2:before {
  content: "\e623";
}

.pe-is-ec-basket-3-f:before {
  content: "\e624";
}

.pe-is-ec-basket-3:before {
  content: "\e625";
}

.pe-is-ec-basket-4-f:before {
  content: "\e626";
}

.pe-is-ec-basket-4:before {
  content: "\e627";
}

.pe-is-ec-basket-5-f:before {
  content: "\e628";
}

.pe-is-ec-basket-5:before {
  content: "\e629";
}

.pe-is-ec-basket-24-f:before {
  content: "\e62a";
}

.pe-is-ec-basket-24:before {
  content: "\e62b";
}

.pe-is-ec-basket-advice-f:before {
  content: "\e62c";
}

.pe-is-ec-basket-advice:before {
  content: "\e62d";
}

.pe-is-ec-basket-ban-f:before {
  content: "\e62e";
}

.pe-is-ec-basket-ban:before {
  content: "\e62f";
}

.pe-is-ec-basket-check-f:before {
  content: "\e630";
}

.pe-is-ec-basket-check:before {
  content: "\e631";
}

.pe-is-ec-basket-circle-f:before {
  content: "\e632";
}

.pe-is-ec-basket-circle:before {
  content: "\e633";
}

.pe-is-ec-basket-cog-f:before {
  content: "\e634";
}

.pe-is-ec-basket-cog:before {
  content: "\e635";
}

.pe-is-ec-basket-dollar-f:before {
  content: "\e636";
}

.pe-is-ec-basket-dollar:before {
  content: "\e637";
}

.pe-is-ec-basket-down-f:before {
  content: "\e638";
}

.pe-is-ec-basket-down:before {
  content: "\e639";
}

.pe-is-ec-basket-lock-f:before {
  content: "\e63a";
}

.pe-is-ec-basket-lock:before {
  content: "\e63b";
}

.pe-is-ec-basket-map-pin-f:before {
  content: "\e63c";
}

.pe-is-ec-basket-map-pin:before {
  content: "\e63d";
}

.pe-is-ec-basket-minus-f:before {
  content: "\e63e";
}

.pe-is-ec-basket-minus:before {
  content: "\e63f";
}

.pe-is-ec-basket-money-f:before {
  content: "\e640";
}

.pe-is-ec-basket-money:before {
  content: "\e641";
}

.pe-is-ec-basket-phone-f:before {
  content: "\e642";
}

.pe-is-ec-basket-phone:before {
  content: "\e643";
}

.pe-is-ec-basket-plus-f:before {
  content: "\e644";
}

.pe-is-ec-basket-plus:before {
  content: "\e645";
}

.pe-is-ec-basket-refresh-f:before {
  content: "\e646";
}

.pe-is-ec-basket-refresh:before {
  content: "\e647";
}

.pe-is-ec-basket-reload-f:before {
  content: "\e648";
}

.pe-is-ec-basket-reload:before {
  content: "\e649";
}

.pe-is-ec-basket-remove-f:before {
  content: "\e64a";
}

.pe-is-ec-basket-remove:before {
  content: "\e64b";
}

.pe-is-ec-basket-search-f:before {
  content: "\e64c";
}

.pe-is-ec-basket-search:before {
  content: "\e64d";
}

.pe-is-ec-basket-shield-f:before {
  content: "\e64e";
}

.pe-is-ec-basket-shield:before {
  content: "\e64f";
}

.pe-is-ec-basket-star-f:before {
  content: "\e650";
}

.pe-is-ec-basket-star:before {
  content: "\e651";
}

.pe-is-ec-basket-time-f:before {
  content: "\e652";
}

.pe-is-ec-basket-time:before {
  content: "\e653";
}

.pe-is-ec-basket-up-f:before {
  content: "\e654";
}

.pe-is-ec-basket-up:before {
  content: "\e655";
}

.pe-is-ec-bill-1-f:before {
  content: "\e656";
}

.pe-is-ec-bill-1:before {
  content: "\e657";
}

.pe-is-ec-bill-2-f:before {
  content: "\e658";
}

.pe-is-ec-bill-2:before {
  content: "\e659";
}

.pe-is-ec-bills-1-f:before {
  content: "\e65a";
}

.pe-is-ec-bills-1:before {
  content: "\e65b";
}

.pe-is-ec-bills-2-f:before {
  content: "\e65c";
}

.pe-is-ec-bills-2:before {
  content: "\e65d";
}

.pe-is-ec-bitcoin-bill-f:before {
  content: "\e65e";
}

.pe-is-ec-bitcoin-bill:before {
  content: "\e65f";
}

.pe-is-ec-bitcoin-coin-f:before {
  content: "\e660";
}

.pe-is-ec-bitcoin-coin:before {
  content: "\e661";
}

.pe-is-ec-bitcoin-stamp-f:before {
  content: "\e662";
}

.pe-is-ec-bitcoin-stamp:before {
  content: "\e663";
}

.pe-is-ec-bitcoin:before {
  content: "\e664";
}

.pe-is-ec-board-f:before {
  content: "\e665";
}

.pe-is-ec-board-stats-f:before {
  content: "\e666";
}

.pe-is-ec-board-stats:before {
  content: "\e667";
}

.pe-is-ec-board:before {
  content: "\e668";
}

.pe-is-ec-box-1-f:before {
  content: "\e669";
}

.pe-is-ec-box-1:before {
  content: "\e66a";
}

.pe-is-ec-box-2-f:before {
  content: "\e66b";
}

.pe-is-ec-box-2:before {
  content: "\e66c";
}

.pe-is-ec-box-3-f:before {
  content: "\e66d";
}

.pe-is-ec-box-3:before {
  content: "\e66e";
}

.pe-is-ec-box-4-f:before {
  content: "\e66f";
}

.pe-is-ec-box-4:before {
  content: "\e670";
}

.pe-is-ec-box-down-f:before {
  content: "\e671";
}

.pe-is-ec-box-down:before {
  content: "\e672";
}

.pe-is-ec-box-trolley-1-f:before {
  content: "\e673";
}

.pe-is-ec-box-trolley-1:before {
  content: "\e674";
}

.pe-is-ec-box-trolley-2-f:before {
  content: "\e675";
}

.pe-is-ec-box-trolley-2:before {
  content: "\e676";
}

.pe-is-ec-box-up:before {
  content: "\e677";
}

.pe-is-ec-box-check:before {
  content: "\e678";
}

.pe-is-ec-box-up-f:before {
  content: "\e679";
}

.pe-is-ec-box-check-f:before {
  content: "\e67a";
}

.pe-is-ec-box-upside-f:before {
  content: "\e67b";
}

.pe-is-ec-box-upside:before {
  content: "\e67c";
}

.pe-is-ec-briefcase-1-f:before {
  content: "\e67d";
}

.pe-is-ec-briefcase-1:before {
  content: "\e67e";
}

.pe-is-ec-briefcase-2-f:before {
  content: "\e67f";
}

.pe-is-ec-briefcase-2:before {
  content: "\e680";
}

.pe-is-ec-calc-1-f:before {
  content: "\e681";
}

.pe-is-ec-calc-1:before {
  content: "\e682";
}

.pe-is-ec-calc-2-f:before {
  content: "\e683";
}

.pe-is-ec-calc-2:before {
  content: "\e684";
}

.pe-is-ec-calc-3-f:before {
  content: "\e685";
}

.pe-is-ec-calc-3:before {
  content: "\e686";
}

.pe-is-ec-card-f:before {
  content: "\e687";
}

.pe-is-ec-card-fast-f:before {
  content: "\e688";
}

.pe-is-ec-card-fast:before {
  content: "\e689";
}

.pe-is-ec-card-hand-f:before {
  content: "\e68a";
}

.pe-is-ec-card-hand:before {
  content: "\e68b";
}

.pe-is-ec-card-lock-f:before {
  content: "\e68c";
}

.pe-is-ec-card-lock:before {
  content: "\e68d";
}

.pe-is-ec-card:before {
  content: "\e68e";
}

.pe-is-ec-cart-1-f:before {
  content: "\e68f";
}

.pe-is-ec-cart-1:before {
  content: "\e690";
}

.pe-is-ec-cart-2:before {
  content: "\e691";
}

.pe-is-ec-cart-3:before {
  content: "\e692";
}

.pe-is-ec-cart-4:before {
  content: "\e693";
}

.pe-is-ec-cart-5-f:before {
  content: "\e694";
}

.pe-is-ec-cart-5:before {
  content: "\e695";
}

.pe-is-ec-cart-24-f:before {
  content: "\e696";
}

.pe-is-ec-cart-24:before {
  content: "\e697";
}

.pe-is-ec-cart-advice-f:before {
  content: "\e698";
}

.pe-is-ec-cart-advice:before {
  content: "\e699";
}

.pe-is-ec-cart-ban-f:before {
  content: "\e69a";
}

.pe-is-ec-cart-ban:before {
  content: "\e69b";
}

.pe-is-ec-cart-check-f:before {
  content: "\e69c";
}

.pe-is-ec-cart-check:before {
  content: "\e69d";
}

.pe-is-ec-cart-circle-f:before {
  content: "\e69e";
}

.pe-is-ec-cart-circle:before {
  content: "\e69f";
}

.pe-is-ec-cart-cog-f:before {
  content: "\e6a0";
}

.pe-is-ec-cart-cog:before {
  content: "\e6a1";
}

.pe-is-ec-cart-dollar-f:before {
  content: "\e6a2";
}

.pe-is-ec-cart-dollar:before {
  content: "\e6a3";
}

.pe-is-ec-cart-down-1-f:before {
  content: "\e6a4";
}

.pe-is-ec-cart-down-1:before {
  content: "\e6a5";
}

.pe-is-ec-cart-down-f:before {
  content: "\e6a6";
}

.pe-is-ec-cart-down:before {
  content: "\e6a7";
}

.pe-is-ec-cart-lock-f:before {
  content: "\e6a8";
}

.pe-is-ec-cart-lock:before {
  content: "\e6a9";
}

.pe-is-ec-cart-map-pin-f:before {
  content: "\e6aa";
}

.pe-is-ec-cart-map-pin:before {
  content: "\e6ab";
}

.pe-is-ec-cart-minus-f:before {
  content: "\e6ac";
}

.pe-is-ec-cart-minus:before {
  content: "\e6ad";
}

.pe-is-ec-cart-phone-f:before {
  content: "\e6ae";
}

.pe-is-ec-cart-phone:before {
  content: "\e6af";
}

.pe-is-ec-cart-plus-f:before {
  content: "\e6b0";
}

.pe-is-ec-cart-plus:before {
  content: "\e6b1";
}

.pe-is-ec-cart-refresh-f:before {
  content: "\e6b2";
}

.pe-is-ec-cart-refresh:before {
  content: "\e6b3";
}

.pe-is-ec-cart-reload-f:before {
  content: "\e6b4";
}

.pe-is-ec-cart-reload:before {
  content: "\e6b5";
}

.pe-is-ec-cart-remove-f:before {
  content: "\e6b6";
}

.pe-is-ec-cart-remove:before {
  content: "\e6b7";
}

.pe-is-ec-cart-search-f:before {
  content: "\e6b8";
}

.pe-is-ec-cart-search:before {
  content: "\e6b9";
}

.pe-is-ec-cart-shield-f:before {
  content: "\e6ba";
}

.pe-is-ec-cart-shield:before {
  content: "\e6bb";
}

.pe-is-ec-cart-star-f:before {
  content: "\e6bc";
}

.pe-is-ec-cart-star:before {
  content: "\e6bd";
}

.pe-is-ec-cart-time-f:before {
  content: "\e6be";
}

.pe-is-ec-cart-time:before {
  content: "\e6bf";
}

.pe-is-ec-cart-up-1-f:before {
  content: "\e6c0";
}

.pe-is-ec-cart-up-1:before {
  content: "\e6c1";
}

.pe-is-ec-cart-up-f:before {
  content: "\e6c2";
}

.pe-is-ec-cart-up:before {
  content: "\e6c3";
}

.pe-is-ec-coin-piggy-f:before {
  content: "\e6c4";
}

.pe-is-ec-coin-piggy:before {
  content: "\e6c5";
}

.pe-is-ec-coins-1-f:before {
  content: "\e6c6";
}

.pe-is-ec-coins-1:before {
  content: "\e6c7";
}

.pe-is-ec-coins-2:before {
  content: "\e6c8";
}

.pe-is-ec-coins-3-f:before {
  content: "\e6c9";
}

.pe-is-ec-coins-3:before {
  content: "\e6ca";
}

.pe-is-ec-coins-hand:before {
  content: "\e6cb";
}

.pe-is-ec-credit-cards-f:before {
  content: "\e6cc";
}

.pe-is-ec-credit-cards:before {
  content: "\e6cd";
}

.pe-is-ec-design-f:before {
  content: "\e6ce";
}

.pe-is-ec-design:before {
  content: "\e6cf";
}

.pe-is-ec-dollar-bill-f:before {
  content: "\e6d0";
}

.pe-is-ec-dollar-bill:before {
  content: "\e6d1";
}

.pe-is-ec-dollar-coin-f:before {
  content: "\e6d2";
}

.pe-is-ec-dollar-coin:before {
  content: "\e6d3";
}

.pe-is-ec-dollar-stamp-f:before {
  content: "\e6d4";
}

.pe-is-ec-dollar-stamp:before {
  content: "\e6d5";
}

.pe-is-ec-dollar:before {
  content: "\e6d6";
}

.pe-is-ec-dropbox-f:before {
  content: "\e6d7";
}

.pe-is-ec-dropbox:before {
  content: "\e6d8";
}

.pe-is-ec-euro-bill-f:before {
  content: "\e6d9";
}

.pe-is-ec-euro-bill:before {
  content: "\e6da";
}

.pe-is-ec-euro-coin-f:before {
  content: "\e6db";
}

.pe-is-ec-euro-coin:before {
  content: "\e6dc";
}

.pe-is-ec-euro-stamp-f:before {
  content: "\e6dd";
}

.pe-is-ec-euro-stamp:before {
  content: "\e6de";
}

.pe-is-ec-euro:before {
  content: "\e6df";
}

.pe-is-ec-forklift-f:before {
  content: "\e6e0";
}

.pe-is-ec-forklift:before {
  content: "\e6e1";
}

.pe-is-ec-fragile-f:before {
  content: "\e6e2";
}

.pe-is-ec-fragile:before {
  content: "\e6e3";
}

.pe-is-ec-gift-f:before {
  content: "\e6e4";
}

.pe-is-ec-gift-ribbon-f:before {
  content: "\e6e5";
}

.pe-is-ec-gift-ribbon:before {
  content: "\e6e6";
}

.pe-is-ec-gift:before {
  content: "\e6e7";
}

.pe-is-ec-justice-1-f:before {
  content: "\e6e8";
}

.pe-is-ec-justice-1:before {
  content: "\e6e9";
}

.pe-is-ec-justice-2-f:before {
  content: "\e6ea";
}

.pe-is-ec-justice-2:before {
  content: "\e6eb";
}

.pe-is-ec-label-1-f:before {
  content: "\e6ec";
}

.pe-is-ec-label-1:before {
  content: "\e6ed";
}

.pe-is-ec-label-2-f:before {
  content: "\e6ee";
}

.pe-is-ec-label-2:before {
  content: "\e6ef";
}

.pe-is-ec-label-3-f:before {
  content: "\e6f0";
}

.pe-is-ec-label-3:before {
  content: "\e6f1";
}

.pe-is-ec-label-4-f:before {
  content: "\e6f2";
}

.pe-is-ec-label-4:before {
  content: "\e6f3";
}

.pe-is-ec-money:before {
  content: "\e6f4";
}

.pe-is-ec-money-bitcoin-f:before {
  content: "\e6f5";
}

.pe-is-ec-money-bitcoin:before {
  content: "\e6f6";
}

.pe-is-ec-money-dollar-f:before {
  content: "\e6f7";
}

.pe-is-ec-money-dollar:before {
  content: "\e6f8";
}

.pe-is-ec-money-euro-f:before {
  content: "\e6f9";
}

.pe-is-ec-money-euro:before {
  content: "\e6fa";
}

.pe-is-ec-money-f:before {
  content: "\e6fb";
}

.pe-is-ec-money-pound-f:before {
  content: "\e6fc";
}

.pe-is-ec-money-pound:before {
  content: "\e6fd";
}

.pe-is-ec-money-yen-f:before {
  content: "\e6fe";
}

.pe-is-ec-money-yen:before {
  content: "\e6ff";
}

.pe-is-ec-money2:before {
  content: "\e700";
}

.pe-is-ec-new-coin-f:before {
  content: "\e701";
}

.pe-is-ec-new-coin:before {
  content: "\e702";
}

.pe-is-ec-new-stamp-f:before {
  content: "\e703";
}

.pe-is-ec-new-stamp:before {
  content: "\e704";
}

.pe-is-ec-new-sticker-f:before {
  content: "\e705";
}

.pe-is-ec-new-sticker:before {
  content: "\e706";
}

.pe-is-ec-percent-coin-f:before {
  content: "\e707";
}

.pe-is-ec-percent-coin:before {
  content: "\e708";
}

.pe-is-ec-percent-stamp-f:before {
  content: "\e709";
}

.pe-is-ec-percent-stamp:before {
  content: "\e70a";
}

.pe-is-ec-percent-sticker-f:before {
  content: "\e70b";
}

.pe-is-ec-percent-sticker:before {
  content: "\e70c";
}

.pe-is-ec-percent:before {
  content: "\e70d";
}

.pe-is-ec-pie-chart-1-f:before {
  content: "\e70e";
}

.pe-is-ec-pie-chart-1:before {
  content: "\e70f";
}

.pe-is-ec-pie-chart-2-f:before {
  content: "\e710";
}

.pe-is-ec-pie-chart-2:before {
  content: "\e711";
}

.pe-is-ec-pie-chart-3d-f:before {
  content: "\e712";
}

.pe-is-ec-pie-chart-3d:before {
  content: "\e713";
}

.pe-is-ec-pos-1-f:before {
  content: "\e714";
}

.pe-is-ec-pos-1:before {
  content: "\e715";
}

.pe-is-ec-pos-2-f:before {
  content: "\e716";
}

.pe-is-ec-pos-2:before {
  content: "\e717";
}

.pe-is-ec-pos-3-f:before {
  content: "\e718";
}

.pe-is-ec-pos-3:before {
  content: "\e719";
}

.pe-is-ec-pos-4-f:before {
  content: "\e71a";
}

.pe-is-ec-pos-4:before {
  content: "\e71b";
}

.pe-is-ec-pound-bill-f:before {
  content: "\e71c";
}

.pe-is-ec-pound-bill:before {
  content: "\e71d";
}

.pe-is-ec-pound-coin-f:before {
  content: "\e71e";
}

.pe-is-ec-pound-coin:before {
  content: "\e71f";
}

.pe-is-ec-pound-stamp-f:before {
  content: "\e720";
}

.pe-is-ec-pound-stamp:before {
  content: "\e721";
}

.pe-is-ec-pound:before {
  content: "\e722";
}

.pe-is-ec-purse-1-f:before {
  content: "\e723";
}

.pe-is-ec-purse-1:before {
  content: "\e724";
}

.pe-is-ec-purse-2-f:before {
  content: "\e725";
}

.pe-is-ec-purse-2:before {
  content: "\e726";
}

.pe-is-ec-purse-3-f:before {
  content: "\e727";
}

.pe-is-ec-purse-3:before {
  content: "\e728";
}

.pe-is-ec-purse-4-f:before {
  content: "\e729";
}

.pe-is-ec-purse-4:before {
  content: "\e72a";
}

.pe-is-ec-purse-5-f:before {
  content: "\e72b";
}

.pe-is-ec-purse-5:before {
  content: "\e72c";
}

.pe-is-ec-purse-6-f:before {
  content: "\e72d";
}

.pe-is-ec-purse-6:before {
  content: "\e72e";
}

.pe-is-ec-qr-code:before {
  content: "\e72f";
}

.pe-is-ec-receipt-1-f:before {
  content: "\e730";
}

.pe-is-ec-receipt-1:before {
  content: "\e731";
}

.pe-is-ec-receipt-2-f:before {
  content: "\e732";
}

.pe-is-ec-receipt-2:before {
  content: "\e733";
}

.pe-is-ec-receipt-3-f:before {
  content: "\e734";
}

.pe-is-ec-receipt-3:before {
  content: "\e735";
}

.pe-is-ec-receipt-4-f:before {
  content: "\e736";
}

.pe-is-ec-receipt-4:before {
  content: "\e737";
}

.pe-is-ec-safe-box-1-f:before {
  content: "\e738";
}

.pe-is-ec-safe-box-1:before {
  content: "\e739";
}

.pe-is-ec-safe-box-2-f:before {
  content: "\e73a";
}

.pe-is-ec-safe-box-2:before {
  content: "\e73b";
}

.pe-is-ec-safe-box-3-f:before {
  content: "\e73c";
}

.pe-is-ec-safe-box-3:before {
  content: "\e73d";
}

.pe-is-ec-shipping-fast:before {
  content: "\e73e";
}

.pe-is-ec-shipping-time-f:before {
  content: "\e73f";
}

.pe-is-ec-shipping-time:before {
  content: "\e740";
}

.pe-is-ec-shop-f:before {
  content: "\e741";
}

.pe-is-ec-shop:before {
  content: "\e742";
}

.pe-is-ec-sign-1-f:before {
  content: "\e743";
}

.pe-is-ec-sign-1:before {
  content: "\e744";
}

.pe-is-ec-sign-2-f:before {
  content: "\e745";
}

.pe-is-ec-sign-2:before {
  content: "\e746";
}

.pe-is-ec-ticket-1-f:before {
  content: "\e747";
}

.pe-is-ec-ticket-1:before {
  content: "\e748";
}

.pe-is-ec-ticket-2-f:before {
  content: "\e749";
}

.pe-is-ec-ticket-2:before {
  content: "\e74a";
}

.pe-is-ec-ticket-3-f:before {
  content: "\e74b";
}

.pe-is-ec-ticket-3:before {
  content: "\e74c";
}

.pe-is-ec-trolley-boxes-f:before {
  content: "\e74d";
}

.pe-is-ec-trolley-boxes:before {
  content: "\e74e";
}

.pe-is-ec-trolley-case-f:before {
  content: "\e74f";
}

.pe-is-ec-trolley-case:before {
  content: "\e750";
}

.pe-is-ec-trolley-down:before {
  content: "\e751";
}

.pe-is-ec-trolley:before {
  content: "\e752";
}

.pe-is-ec-truck-1-f:before {
  content: "\e753";
}

.pe-is-ec-truck-1:before {
  content: "\e754";
}

.pe-is-ec-truck-2-f:before {
  content: "\e755";
}

.pe-is-ec-truck-2:before {
  content: "\e756";
}

.pe-is-ec-truck-3-f:before {
  content: "\e757";
}

.pe-is-ec-truck-3:before {
  content: "\e758";
}

.pe-is-ec-wallet-1-f:before {
  content: "\e759";
}

.pe-is-ec-wallet-1:before {
  content: "\e75a";
}

.pe-is-ec-wallet-2-f:before {
  content: "\e75b";
}

.pe-is-ec-wallet-2:before {
  content: "\e75c";
}

.pe-is-ec-wallet-3-f:before {
  content: "\e75d";
}

.pe-is-ec-wallet-3:before {
  content: "\e75e";
}

.pe-is-ec-yen-bill-f:before {
  content: "\e75f";
}

.pe-is-ec-yen-bill:before {
  content: "\e760";
}

.pe-is-ec-yen-coin-f:before {
  content: "\e761";
}

.pe-is-ec-yen-coin:before {
  content: "\e762";
}

.pe-is-ec-yen-stamp-f:before {
  content: "\e763";
}

.pe-is-ec-yen-stamp:before {
  content: "\e764";
}

.pe-is-ec-yen:before {
  content: "\e765";
}

@font-face {
	font-family: 'pe-icon-set-edition';
	src:url('../fonts/pe-icon-set-edition.eot?-grgxmd');
	src:url('../fonts/pe-icon-set-edition.eot?#iefix-grgxmd') format('embedded-opentype'),
		url('../fonts/pe-icon-set-edition.woff?-grgxmd') format('woff'),
		url('../fonts/pe-icon-set-edition.ttf?-grgxmd') format('truetype'),
		url('../fonts/pe-icon-set-edition.svg?-grgxmd#pe-icon-set-edition') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pe-is-e-"], [class*=" pe-is-e-"] {
	display: inline-block;
	font-family: 'pe-icon-set-edition';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pe-is-e-add-layer:before {
	content: "\e600";
}

.pe-is-e-add-layer-f:before {
	content: "\e601";
}

.pe-is-e-arrow-1:before {
	content: "\e602";
}

.pe-is-e-arrow-1-f:before {
	content: "\e603";
}

.pe-is-e-arrow-2:before {
	content: "\e604";
}

.pe-is-e-arrow-2-f:before {
	content: "\e605";
}

.pe-is-e-arrow-copy:before {
	content: "\e606";
}

.pe-is-e-arrow-copy-f:before {
	content: "\e607";
}

.pe-is-e-arrow-move:before {
	content: "\e608";
}

.pe-is-e-arrow-move-f:before {
	content: "\e609";
}

.pe-is-e-binoculars:before {
	content: "\e60a";
}

.pe-is-e-binoculars-f:before {
	content: "\e60b";
}

.pe-is-e-broken-link-1:before {
	content: "\e60c";
}

.pe-is-e-broken-link-2:before {
	content: "\e60d";
}

.pe-is-e-bucket:before {
	content: "\e60e";
}

.pe-is-e-bucket-f:before {
	content: "\e60f";
}

.pe-is-e-clip-1:before {
	content: "\e610";
}

.pe-is-e-clip-2:before {
	content: "\e611";
}

.pe-is-e-crop-f:before {
	content: "\e612";
}

.pe-is-e-crop:before {
	content: "\e613";
}

.pe-is-e-crop-marks:before {
	content: "\e614";
}

.pe-is-e-cut-layer:before {
	content: "\e615";
}

.pe-is-e-cutter:before {
	content: "\e616";
}

.pe-is-e-cutter-f:before {
	content: "\e617";
}

.pe-is-e-download:before {
	content: "\e618";
}

.pe-is-e-edit:before {
	content: "\e619";
}

.pe-is-e-edit-f:before {
	content: "\e61a";
}

.pe-is-e-eye-1:before {
	content: "\e61b";
}

.pe-is-e-eye-1-f:before {
	content: "\e61c";
}

.pe-is-e-eye-2:before {
	content: "\e61d";
}

.pe-is-e-eye-2-f:before {
	content: "\e61e";
}

.pe-is-e-eye-3:before {
	content: "\e61f";
}

.pe-is-e-eye-3-f:before {
	content: "\e620";
}

.pe-is-e-eye-4:before {
	content: "\e621";
}

.pe-is-e-eye-4-f:before {
	content: "\e622";
}

.pe-is-e-eye-dropper:before {
	content: "\e623";
}

.pe-is-e-eye-dropper-f:before {
	content: "\e624";
}

.pe-is-e-eye-slashed:before {
	content: "\e625";
}

.pe-is-e-eye-slashed-f:before {
	content: "\e626";
}

.pe-is-e-free-transform:before {
	content: "\e627";
}

.pe-is-e-free-transform-f:before {
	content: "\e628";
}

.pe-is-e-hand-click:before {
	content: "\e629";
}

.pe-is-e-hand-click-f:before {
	content: "\e62a";
}

.pe-is-e-hand-move:before {
	content: "\e62b";
}

.pe-is-e-hand-move-f:before {
	content: "\e62c";
}

.pe-is-e-hand-pointer:before {
	content: "\e62d";
}

.pe-is-e-hand-pointer-f:before {
	content: "\e62e";
}

.pe-is-e-highlighter:before {
	content: "\e62f";
}

.pe-is-e-highlighter-f:before {
	content: "\e630";
}

.pe-is-e-key-1:before {
	content: "\e631";
}

.pe-is-e-key-1-f:before {
	content: "\e632";
}

.pe-is-e-key-2:before {
	content: "\e633";
}

.pe-is-e-key-2-f:before {
	content: "\e634";
}

.pe-is-e-key-3:before {
	content: "\e635";
}

.pe-is-e-keyhole-1:before {
	content: "\e636";
}

.pe-is-e-keyhole-1-f:before {
	content: "\e637";
}

.pe-is-e-keyhole-2:before {
	content: "\e638";
}

.pe-is-e-keyhole-2-f:before {
	content: "\e639";
}

.pe-is-e-keyhole-3:before {
	content: "\e63a";
}

.pe-is-e-keyhole-3-f:before {
	content: "\e63b";
}

.pe-is-e-layers-1:before {
	content: "\e63c";
}

.pe-is-e-layers-1-f:before {
	content: "\e63d";
}

.pe-is-e-layers-2:before {
	content: "\e63e";
}

.pe-is-e-layers-2-f:before {
	content: "\e63f";
}

.pe-is-e-layers-3:before {
	content: "\e640";
}

.pe-is-e-layers-3-f:before {
	content: "\e641";
}

.pe-is-e-lightning-1:before {
	content: "\e642";
}

.pe-is-e-lightning-1-f:before {
	content: "\e643";
}

.pe-is-e-lightning-2:before {
	content: "\e644";
}

.pe-is-e-lightning-2-f:before {
	content: "\e645";
}

.pe-is-e-link-1:before {
	content: "\e646";
}

.pe-is-e-link-2:before {
	content: "\e647";
}

.pe-is-e-link-3:before {
	content: "\e648";
}

.pe-is-e-link-4:before {
	content: "\e649";
}

.pe-is-e-lock-1:before {
	content: "\e64a";
}

.pe-is-e-lock-1-f:before {
	content: "\e64b";
}

.pe-is-e-lock-2:before {
	content: "\e64c";
}

.pe-is-e-lock-2-f:before {
	content: "\e64d";
}

.pe-is-e-lock-3:before {
	content: "\e64e";
}

.pe-is-e-lock-3-f:before {
	content: "\e64f";
}

.pe-is-e-lock-4:before {
	content: "\e650";
}

.pe-is-e-lock-4-f:before {
	content: "\e651";
}

.pe-is-e-maximize:before {
	content: "\e652";
}

.pe-is-e-maximize-f:before {
	content: "\e653";
}

.pe-is-e-minimize:before {
	content: "\e654";
}

.pe-is-e-minimize-f:before {
	content: "\e655";
}

.pe-is-e-move:before {
	content: "\e656";
}

.pe-is-e-note:before {
	content: "\e657";
}

.pe-is-e-note-f:before {
	content: "\e658";
}

.pe-is-e-palette:before {
	content: "\e659";
}

.pe-is-e-palette-f:before {
	content: "\e65a";
}

.pe-is-e-pen-1:before {
	content: "\e65b";
}

.pe-is-e-pen-1-f:before {
	content: "\e65c";
}

.pe-is-e-pen-2:before {
	content: "\e65d";
}

.pe-is-e-pen-2-f:before {
	content: "\e65e";
}

.pe-is-e-pen-3:before {
	content: "\e65f";
}

.pe-is-e-pen-3-f:before {
	content: "\e660";
}

.pe-is-e-pen-4:before {
	content: "\e661";
}

.pe-is-e-pen-4-f:before {
	content: "\e662";
}

.pe-is-e-pencil-1:before {
	content: "\e663";
}

.pe-is-e-pencil-1-f:before {
	content: "\e664";
}

.pe-is-e-pencil-2:before {
	content: "\e665";
}

.pe-is-e-pencil-2-f:before {
	content: "\e666";
}

.pe-is-e-pencil-3:before {
	content: "\e667";
}

.pe-is-e-pencil-3-f:before {
	content: "\e668";
}

.pe-is-e-pencil-4:before {
	content: "\e669";
}

.pe-is-e-pencil-4-f:before {
	content: "\e66a";
}

.pe-is-e-pin-1:before {
	content: "\e66b";
}

.pe-is-e-pin-1-f:before {
	content: "\e66c";
}

.pe-is-e-pin-2:before {
	content: "\e66d";
}

.pe-is-e-pin-2-f:before {
	content: "\e66e";
}

.pe-is-e-quill:before {
	content: "\e66f";
}

.pe-is-e-quill-f:before {
	content: "\e670";
}

.pe-is-e-reflect:before {
	content: "\e671";
}

.pe-is-e-reflect-f:before {
	content: "\e672";
}

.pe-is-e-rgb:before {
	content: "\e673";
}

.pe-is-e-rgb-f:before {
	content: "\e674";
}

.pe-is-e-ruler-1:before {
	content: "\e675";
}

.pe-is-e-ruler-1-f:before {
	content: "\e676";
}

.pe-is-e-ruler-2:before {
	content: "\e677";
}

.pe-is-e-ruler-2-f:before {
	content: "\e678";
}

.pe-is-e-scissors-1:before {
	content: "\e679";
}

.pe-is-e-scissors-1-f:before {
	content: "\e67a";
}

.pe-is-e-scissors-2:before {
	content: "\e67b";
}

.pe-is-e-scissors-2-f:before {
	content: "\e67c";
}

.pe-is-e-scissors-3:before {
	content: "\e67d";
}

.pe-is-e-scissors-3-f:before {
	content: "\e67e";
}

.pe-is-e-shear:before {
	content: "\e67f";
}

.pe-is-e-shear-f:before {
	content: "\e680";
}

.pe-is-e-target-1:before {
	content: "\e681";
}

.pe-is-e-target-2:before {
	content: "\e682";
}

.pe-is-e-target-3:before {
	content: "\e683";
}

.pe-is-e-target-3-f:before {
	content: "\e684";
}

.pe-is-e-target-4:before {
	content: "\e685";
}

.pe-is-e-target-5:before {
	content: "\e686";
}

.pe-is-e-target-6:before {
	content: "\e687";
}

.pe-is-e-text-area:before {
	content: "\e688";
}

.pe-is-e-text-edit:before {
	content: "\e689";
}

.pe-is-e-tools:before {
	content: "\e68a";
}

.pe-is-e-tools-f:before {
	content: "\e68b";
}

.pe-is-e-trash-1:before {
	content: "\e68c";
}

.pe-is-e-trash-1-f:before {
	content: "\e68d";
}

.pe-is-e-trash-2:before {
	content: "\e68e";
}

.pe-is-e-trash-2-f:before {
	content: "\e68f";
}

.pe-is-e-trash-3:before {
	content: "\e690";
}

.pe-is-e-unlock-1:before {
	content: "\e691";
}

.pe-is-e-unlock-1-f:before {
	content: "\e692";
}

.pe-is-e-unlock-2:before {
	content: "\e693";
}

.pe-is-e-unlock-2-f:before {
	content: "\e694";
}

.pe-is-e-unlock-3:before {
	content: "\e695";
}

.pe-is-e-unlock-3-f:before {
	content: "\e696";
}

.pe-is-e-upload:before {
	content: "\e697";
}

.pe-is-e-zoom-in:before {
	content: "\e698";
}

.pe-is-e-zoom-in-f:before {
	content: "\e699";
}

.pe-is-e-zoom-out:before {
	content: "\e69a";
}

.pe-is-e-zoom-out-f:before {
	content: "\e69b";
}

.pe-is-e-zoom:before {
	content: "\e69c";
}

@font-face {
	font-family: 'Pe-icon-set-interface';
	src:url('../fonts/Pe-icon-set-interface.eot?-srh7v0');
	src:url('../fonts/Pe-icon-set-interface.eot?#iefix-srh7v0') format('embedded-opentype'),
		url('../fonts/Pe-icon-set-interface.woff?-srh7v0') format('woff'),
		url('../fonts/Pe-icon-set-interface.ttf?-srh7v0') format('truetype'),
		url('../fonts/Pe-icon-set-interface.svg?-srh7v0#Pe-icon-set-interface') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pe-is-i-"], [class*=" pe-is-i-"] {
	display: inline-block;
	font-family: 'Pe-icon-set-interface';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pe-is-i-align-bottom:before {
	content: "\e600";
}
.pe-is-i-align-left:before {
	content: "\e601";
}
.pe-is-i-align-right:before {
	content: "\e602";
}
.pe-is-i-align-top:before {
	content: "\e603";
}
.pe-is-i-angle-circle-down:before {
	content: "\e604";
}
.pe-is-i-angle-circle-down-f:before {
	content: "\e678";
}
.pe-is-i-angle-circle-left:before {
	content: "\e605";
}
.pe-is-i-angle-circle-left-f:before {
	content: "\e679";
}
.pe-is-i-angle-circle-right:before {
	content: "\e606";
}
.pe-is-i-angle-circle-right-f:before {
	content: "\e67a";
}
.pe-is-i-angle-circle-up:before {
	content: "\e607";
}
.pe-is-i-angle-circle-up-f:before {
	content: "\e67b";
}
.pe-is-i-angle-down:before {
	content: "\e608";
}
.pe-is-i-angle-left:before {
	content: "\e609";
}
.pe-is-i-angle-right:before {
	content: "\e60a";
}
.pe-is-i-angle-up:before {
	content: "\e60b";
}
.pe-is-i-arrow-circle-down:before {
	content: "\e60c";
}
.pe-is-i-arrow-circle-down-f:before {
	content: "\e67c";
}
.pe-is-i-arrow-circle-left:before {
	content: "\e60d";
}
.pe-is-i-arrow-circle-left-f:before {
	content: "\e67d";
}
.pe-is-i-arrow-circle-right:before {
	content: "\e60e";
}
.pe-is-i-arrow-circle-right-f:before {
	content: "\e67e";
}
.pe-is-i-arrow-circle-up:before {
	content: "\e60f";
}
.pe-is-i-arrow-circle-up-f:before {
	content: "\e67f";
}
.pe-is-i-arrow-down:before {
	content: "\e610";
}
.pe-is-i-arrow-left:before {
	content: "\e611";
}
.pe-is-i-arrow-right:before {
	content: "\e612";
}
.pe-is-i-arrow-square-down:before {
	content: "\e613";
}
.pe-is-i-arrow-square-down-f:before {
	content: "\e680";
}
.pe-is-i-arrow-square-left:before {
	content: "\e614";
}
.pe-is-i-arrow-square-left-f:before {
	content: "\e681";
}
.pe-is-i-arrow-square-right:before {
	content: "\e615";
}
.pe-is-i-arrow-square-right-f:before {
	content: "\e682";
}
.pe-is-i-arrow-square-up:before {
	content: "\e616";
}
.pe-is-i-arrow-square-up-f:before {
	content: "\e683";
}
.pe-is-i-arrow-up:before {
	content: "\e617";
}
.pe-is-i-arrows-d-1:before {
	content: "\e618";
}
.pe-is-i-arrows-d-2:before {
	content: "\e619";
}
.pe-is-i-arrows-h:before {
	content: "\e61a";
}
.pe-is-i-arrows-v:before {
	content: "\e61b";
}
.pe-is-i-back-1:before {
	content: "\e61c";
}
.pe-is-i-back-1-f:before {
	content: "\e684";
}
.pe-is-i-back-2:before {
	content: "\e61d";
}
.pe-is-i-back-2-f:before {
	content: "\e685";
}
.pe-is-i-back-circle:before {
	content: "\e61e";
}
.pe-is-i-back-circle-f:before {
	content: "\e686";
}
.pe-is-i-back:before {
	content: "\e61f";
}
.pe-is-i-ban-square:before {
	content: "\e620";
}
.pe-is-i-ban:before {
	content: "\e621";
}
.pe-is-i-bars-menu:before {
	content: "\e622";
}
.pe-is-i-check-circle-1:before {
	content: "\e623";
}
.pe-is-i-check-circle-f:before {
	content: "\e687";
}
.pe-is-i-check-circle-2:before {
	content: "\e624";
}
.pe-is-i-check-square-1:before {
	content: "\e625";
}
.pe-is-i-check-square-f:before {
	content: "\e688";
}
.pe-is-i-check-square-2:before {
	content: "\e626";
}
.pe-is-i-close-circle:before {
	content: "\e627";
}
.pe-is-i-close-circle-f:before {
	content: "\e689";
}
.pe-is-i-close-square:before {
	content: "\e628";
}
.pe-is-i-close-square-f:before {
	content: "\e68a";
}
.pe-is-i-compress-d-1:before {
	content: "\e629";
}
.pe-is-i-compress-d-2:before {
	content: "\e62a";
}
.pe-is-i-compress-full:before {
	content: "\e62b";
}
.pe-is-i-compress-h:before {
	content: "\e62c";
}
.pe-is-i-compress-margin:before {
	content: "\e62d";
}
.pe-is-i-compress-margin-f:before {
	content: "\e68b";
}
.pe-is-i-compress-v:before {
	content: "\e62e";
}
.pe-is-i-cursor-square:before {
	content: "\e62f";
}
.pe-is-i-cursor-square-f:before {
	content: "\e68c";
}
.pe-is-i-distribute-h:before {
	content: "\e630";
}
.pe-is-i-distribute-v:before {
	content: "\e631";
}
.pe-is-i-double-side:before {
	content: "\e632";
}
.pe-is-i-download-circle:before {
	content: "\e633";
}
.pe-is-i-download-square:before {
	content: "\e634";
}
.pe-is-i-ellipsis:before {
	content: "\e635";
}
.pe-is-i-ellipsis-f:before {
	content: "\e68d";
}
.pe-is-i-expand-d-1:before {
	content: "\e636";
}
.pe-is-i-expand-d-2:before {
	content: "\e637";
}
.pe-is-i-expand-full-1:before {
	content: "\e638";
}
.pe-is-i-expand-full-2:before {
	content: "\e639";
}
.pe-is-i-expand-h:before {
	content: "\e63a";
}
.pe-is-i-expand-margin:before {
	content: "\e63b";
}
.pe-is-i-expand-margin-f:before {
	content: "\e68e";
}
.pe-is-i-expand-v:before {
	content: "\e63c";
}
.pe-is-i-fork:before {
	content: "\e63d";
}
.pe-is-i-infinite-loop:before {
	content: "\e63e";
}
.pe-is-i-infinite:before {
	content: "\e63f";
}
.pe-is-i-info-circle:before {
	content: "\e640";
}
.pe-is-i-info-circle-f:before {
	content: "\e68f";
}
.pe-is-i-inside:before {
	content: "\e641";
}
.pe-is-i-layers:before {
	content: "\e642";
}
.pe-is-i-layers-f:before {
	content: "\e690";
}
.pe-is-i-list-circle:before {
	content: "\e643";
}
.pe-is-i-list-circle-f:before {
	content: "\e691";
}
.pe-is-i-list-side:before {
	content: "\e644";
}
.pe-is-i-list-side-f:before {
	content: "\e692";
}
.pe-is-i-list-square:before {
	content: "\e645";
}
.pe-is-i-list-square-f:before {
	content: "\e693";
}
.pe-is-i-list-th:before {
	content: "\e646";
}
.pe-is-i-list-th-f:before {
	content: "\e694";
}
.pe-is-i-loop-1:before {
	content: "\e647";
}
.pe-is-i-loop-2:before {
	content: "\e648";
}
.pe-is-i-loop-3:before {
	content: "\e649";
}
.pe-is-i-loop-4:before {
	content: "\e64a";
}
.pe-is-i-loop-5:before {
	content: "\e64b";
}
.pe-is-i-ltr:before {
	content: "\e64c";
}
.pe-is-i-maximize-left:before {
	content: "\e64d";
}
.pe-is-i-maximize-left-f:before {
	content: "\e6aa";
}
.pe-is-i-maximize-right:before {
	content: "\e64e";
}
.pe-is-i-maximize-right-f:before {
	content: "\e6ab";
}
.pe-is-i-maximize:before {
	content: "\e64f";
}
.pe-is-i-maximize-f:before {
	content: "\e695";
}
.pe-is-i-minimize:before {
	content: "\e650";
}
.pe-is-i-minimize-f:before {
	content: "\e696";
}
.pe-is-i-minus-circle:before {
	content: "\e651";
}
.pe-is-i-minus-circle-f:before {
	content: "\e697";
}
.pe-is-i-minus-square:before {
	content: "\e652";
}
.pe-is-i-minus-square-f:before {
	content: "\e698";
}
.pe-is-i-next-1:before {
	content: "\e653";
}
.pe-is-i-next-1-f:before {
	content: "\e699";
}
.pe-is-i-next-2:before {
	content: "\e654";
}
.pe-is-i-next-2-f:before {
	content: "\e69a";
}
.pe-is-i-next-circle:before {
	content: "\e655";
}
.pe-is-i-next-circle-f:before {
	content: "\e69b";
}
.pe-is-i-next:before {
	content: "\e656";
}
.pe-is-i-outside:before {
	content: "\e657";
}
.pe-is-i-plus-circle:before {
	content: "\e658";
}
.pe-is-i-plus-circle-f:before {
	content: "\e69c";
}
.pe-is-i-plus-square:before {
	content: "\e659";
}
.pe-is-i-plus-square-f:before {
	content: "\e69d";
}
.pe-is-i-power:before {
	content: "\e65a";
}
.pe-is-i-question-circle:before {
	content: "\e65b";
}
.pe-is-i-question-circle-f:before {
	content: "\e69e";
}
.pe-is-i-recycle:before {
	content: "\e65c";
}
.pe-is-i-refresh-1:before {
	content: "\e65d";
}
.pe-is-i-refresh-point:before {
	content: "\e65e";
}
.pe-is-i-reload-1:before {
	content: "\e65f";
}
.pe-is-i-reload-2:before {
	content: "\e660";
}
.pe-is-i-reload-time:before {
	content: "\e661";
}
.pe-is-i-rtl:before {
	content: "\e662";
}
.pe-is-i-search:before {
	content: "\e663";
}
.pe-is-i-shield-nope:before {
	content: "\e664";
}
.pe-is-i-shield-nope-f:before {
	content: "\e69f";
}
.pe-is-i-shield-ok:before {
	content: "\e665";
}
.pe-is-i-shield-ok-f:before {
	content: "\e6a0";
}
.pe-is-i-shuffle:before {
	content: "\e666";
}
.pe-is-i-sliders-circle:before {
	content: "\e667";
}
.pe-is-i-sliders-circle-f:before {
	content: "\e6a1";
}
.pe-is-i-sliders-flat:before {
	content: "\e668";
}
.pe-is-i-slideshow:before {
	content: "\e669";
}
.pe-is-i-slideshow-f:before {
	content: "\e6a2";
}
.pe-is-i-splitter-h-1:before {
	content: "\e66a";
}
.pe-is-i-splitter-h-2:before {
	content: "\e66b";
}
.pe-is-i-splitter-v-1:before {
	content: "\e66c";
}
.pe-is-i-splitter-v-2:before {
	content: "\e66d";
}
.pe-is-i-star:before {
	content: "\e66e";
}
.pe-is-i-star-f:before {
	content: "\e6a3";
}
.pe-is-i-th-big:before {
	content: "\e66f";
}
.pe-is-i-th-big-f:before {
	content: "\e6a4";
}
.pe-is-i-th-circle:before {
	content: "\e670";
}
.pe-is-i-th-circle-f:before {
	content: "\e6a5";
}
.pe-is-i-th-small:before {
	content: "\e671";
}
.pe-is-i-th-small-f:before {
	content: "\e6a6";
}
.pe-is-i-timer:before {
	content: "\e672";
}
.pe-is-i-upload-circle:before {
	content: "\e673";
}
.pe-is-i-upload-square:before {
	content: "\e674";
}
.pe-is-i-warning-circle:before {
	content: "\e675";
}
.pe-is-i-warning-circle-f:before {
	content: "\e6a7";
}
.pe-is-i-warning-hexa:before {
	content: "\e676";
}
.pe-is-i-warning-hexa-f:before {
	content: "\e6a8";
}
.pe-is-i-warning-triangle:before {
	content: "\e677";
}
.pe-is-i-warning-triangle-f:before {
	content: "\e6a9";
}
