<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Service-Suite" parallel="false">
	<test name="Account">
		<packages>
			<package name="gov.nih.tbi.account.service.complex.*" />
			<package name="gov.nih.tbi.account.model.*" />
		</packages>
	</test>
	<test name="RDFGen">
		<packages>
			<package name="gov.nih.tbi.repository.rdf.*" />
		</packages>
	</test>
	<test name="AdvancedVisualization">
		 <classes>
			<class name="gov.nih.tbi.repository.service.hibernate.AdvancedVisualizationManagerTest" />
		 </classes>
	</test>
</suite>