@font-face {
  font-family: 'brics-qt';
  src:  url('../fonts/brics-qt.eot?b16nei');
  src:  url('../fonts/brics-qt.eot?b16nei#iefix') format('embedded-opentype'),
    url('../fonts/brics-qt.ttf?b16nei') format('truetype'),
    url('../fonts/brics-qt.woff?b16nei') format('woff'),
    url('../fonts/brics-qt.svg?b16nei#brics-qt') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="brics-qt-"], [class*=" brics-qt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brics-qt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brics-qt-32232:before {
  content: "\e901";
}
.brics-qt-filter:before {
  content: "\e900";
}

